<template>
  <require from="./attribute-bind2a-dialog"></require>
  <require from="./referencearray"></require>
  <require from="./selectsearch.html"></require>
  <require from="./notifybar"></require>
<div class="w3-tiny">
  <div class="w3-center w3-padding">
    <button class="w3-button w3-theme-l4" click.delegate="identify()" title="identify binding between animation and FMU variables">Identify Adobe2FMU</button>
    <button class="w3-button w3-theme-l4" click.delegate="testanim()" title="test animation only">Test Animation</button>
    <br/>
    <notifybar></notifybar>
  </div>
  <div class="w3-card" style="overflow:scroll;overflow-x:hidden;max-height: 50vh">
  <table>
      <tr repeat.for="item of mapping"  class="w3-hover-theme" class.bind="item.class" click.delegate="selectMapping(item)">
        <td>${item.ashort}</td>
      </tr>
    </table>
  </div>
  <div class="w3-center w3-padding" show.bind="!testmode">
    <button class="w3-button w3-theme-l4" click.delegate="submit()">Submit all</button>
    <button class="w3-button w3-theme-l4" click.delegate="undo()">Undo changes</button>
  </div>
  <div>
    <table style="width:100%" show.bind="!testmode">
      <tr>
        <td><label title="fmu variable name">SELECT variable (findex)</label></td>
        <td show.bind="api.outputreferences.length == 0">
      <span class="w3-tiny w3-theme-l4">click Identify button</span><br/>
          <input value.two-way="currentMapping.findex" />
        </td>
        <td show.bind="api.outputreferences.length>0">
          <i class="w3-small">${api.outputreferences[currentMapping.findex].name}</i><br/>
          <selectsearch options.two-way="api.outputreferences" selected.two-way="currentMapping.findex"></selectsearch>
        </td>
      </tr>
      <tr>
        <td><label title="fmu variable name">OR add-variable</label></td>
        <td><referencearray value.two-way="outputreferences" showreferences="false"></referencearray></td>
      </tr>
      <tr>  <td><label>aname</label></td>
        <td title.bind="currentMapping.aname">${currentMapping.ashort}</td>
      </tr>
      <tr show.bind="!currentMapping.text">  <input type="checkbox" checked.bind="currentMapping.playonly"/> play only object</tr>
      <tr show.bind="!currentMapping.text">  <td><label>amin</label></td><td show.bind="!currentMapping.playonly"><input value.bind="currentMapping.amin" /></td></tr>
      <tr show.bind="!currentMapping.text">  <td><label>amax</label></td><td show.bind="!currentMapping.playonly"><input value.bind="currentMapping.amax" /></td></tr>
      <tr show.bind="!currentMapping.text">  <td><label>fmin</label></td><td show.bind="!currentMapping.playonly"><input value.bind="currentMapping.fmin" /></td></tr>
      <tr show.bind="!currentMapping.text">  <td><label>fmax</label></td><td show.bind="!currentMapping.playonly"><input value.bind="currentMapping.fmax" /></td></tr>
      <tr show.bind="currentMapping.text">  <td><label>convertor</label></td><td><input value.bind="currentMapping.convertor" /></td></tr>
      <tr show.bind="currentMapping.text">  <td><label>prefix</label></td><td><input value.bind="currentMapping.prefix" /></td></tr>
      <tr show.bind="currentMapping.text">  <td><label>suffix</label></td><td><input value.bind="currentMapping.suffix" /></td></tr>
      <tr show.bind="currentMapping.text">  <td><label>fixed</label></td><td><input value.bind="currentMapping.fixed" /></td></tr>
      <tr show.bind="currentMapping.text">  <td><label>precision</label></td><td><input value.bind="currentMapping.precision" /></td></tr>

    </table>

    <p title="move slider to see animation progress">
      test:
      <button class="w3-button w3-theme-l4" click.delegate="blink()">Blink</button> <input type="range" min="0" max="200" value.bind="animationvalue" step="1" /><span class="w3-tiny">${animationvalue}</span>
      <button class="w3-button w3-theme-l4" click.delegate="enableanimation()" title="click this, if animation seems not working">Toggle Animation</button>
    </p>
  </div>
</div>
</template>
