<template>
  <require from="./referencearray"></require>
    <table class="w3-tiny" style="width:100%">
      <thead>
      <tr>
        <th style="width:6em;white-space: nowrap;">attribute</th>
        <th>value</th>
      </tr>
      </thead>
      <tr>
        <td colspan="2">
          <button class="w3-button w3-theme-l4 w3-block w3-left-align" click.delegate="showhidefmicontrol()">FMI control options <i class="fa fa-arrow-down"></i></button>
        </td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>id</label></td>
        <td><input value.bind="attr.id" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>src</label></td>
        <td><select value.bind="attr.src" class="w3-select" style="width:80%;max-width:100%">
          <option repeat.for="js of api.fmientriessrc" value.bind="js.src">${js.src}</option>
        </select>
          <i class="fa fa-refresh" click.delegate="refreshsrc()"></i>
        </td>

      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>fminame</label></td>
        <td><input value.bind="attr.fminame" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>tolerance</label></td>
        <td><input value.bind="attr.tolerance" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>starttime</label></td>
        <td><input value.bind="attr.starttime" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>fstepsize</label></td>
        <td><input value.bind="attr.fstepsize" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>guid</label></td>
        <td><input value.bind="attr.guid" /></td>
      </tr>

      <tr>
        <td colspan="3">
          <button class="w3-button w3-block w3-theme-l4 w3-left-align" click.delegate="showhidefmiinput()">Input/Output variables <i class="fa fa-arrow-down"></i></button>
        </td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">
        <td>outputs</td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">
        <td colspan="3"><referencearray value.two-way="outputreferences"></referencearray></td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">
        <td>inputs</td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">

        <td colspan="3"><referencearray value.two-way="inputreferences" askids="true"></referencearray></td>
      </tr>
    </table>
    <div class="w3-center w3-padding">
      <button class="w3-button w3-theme-l4" click.delegate="cancel()">Cancel</button>
      <button class="w3-button w3-theme-l4" click.delegate="submit()">Submit <i class="fa fa-arrow-right"></i></button>
    </div>
</template>
