<template>
  <table>
    <tr><td><label>${api.askAttributesItemsArray[0].title}</label></td><td><input value.bind="api.askAttributesItemsArray[0].value" /></td></tr>
    <tr>  <td><label>${api.askAttributesItemsArray[1].title}</label></td>
      <td><select value.two-way="adobeobj" class="w3-select" style="width:80%;max-width:100%">
        <option repeat.for="js of api.textobjs" value.bind="js">${js}</option>
      </select></td></tr>
    </tr>
  </table>
  <p>animation test:<!--span class="w3-tiny">${api.askAttributesItemsArray[2].value}</span><input type="range" min.bind="api.askAttributesItemsArray[2].value" max.bind="api.askAttributesItemsArray[3].value" value.bind="animationvalue" step="1" /><span class="w3-tiny">${api.askAttributesItemsArray[3].value}</span-->
    <input type="text" placeholder="type test tet to display" value.bind="animationvalue" /><span class="w3-tiny">${animationvalue}</span>
  </p>
  <div class="w3-center w3-padding">
    <button class="w3-button w3-theme-l4" click.delegate="submit()">Submit</button>
    <!--button class="w3-button w3-theme-l4" click.delegate="reset()">Reset</button-->
    <button class="w3-button w3-theme-l4" click.delegate="cancel()">Cancel</button>
  </div>
</template>
