<template>
  <require from="./referencearray"></require>
  <style>
    .bdl-hoverable:hover {
      z-index:5;
      background:white;
      border:1px solid black;
    }
  </style>
    <table class="w3-tiny bdl-hoverable" style="width:100%;word-break:break-all;position:relative">
      <thead>
      <tr>
        <th style="width:6em;white-space: nowrap;">attribute</th>
        <th>value</th>
      </tr>
      </thead>
      <tr>
        <td colspan="2">
          <button class="w3-theme-l4 w3-block w3-left-align" click.delegate="showhidefmicontrol()">FMI control options <i show.bind="showfmicontrol" class="fa fa-arrow-down"></i><i show.bind="!showfmicontrol" class="fa fa-arrow-right"></i></button>
        </td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>id</label></td>
        <td><input value.bind="attr.id" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>mode</label></td>
        <td><input value.bind="attr.mode" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>src</label></td>
        <td><select value.bind="attr.src" class="w3-select" style="width:80%;max-width:100%">
          <option repeat.for="js of api.fmientries" value.bind="js.name">${js.name}</option>
        </select>
          <i class="fa fa-refresh" click.delegate="refreshsrc()"></i>
        </td>

      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>fminame</label></td>
        <td><input value.bind="attr.fminame" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>tolerance</label></td>
        <td><input value.bind="attr.tolerance" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>starttime</label></td>
        <td><input value.bind="attr.starttime" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>fstepsize</label></td>
        <td><input value.bind="attr.fstepsize" /></td>
      </tr>
      <tr show.bind="showfmicontrol">
        <td><label>guid</label></td>
        <td><input value.bind="attr.guid" /></td>
      </tr>

      <tr>
        <td colspan="3">
          <button class="w3-block w3-theme-l4 w3-left-align" click.delegate="showhidefmiinput()">Variables <i show.bind="showfmiinput" class="fa fa-arrow-down"></i><i show.bind="!showfmiinput" class="fa fa-arrow-right"></i></button>
        </td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">
        <td colspan="2" class="w3-center" title="check/update reference numbers of variables"><button click.delegate="updatevariables()">update FMU vars</button></td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">
        <td colspan="2" class="w3-center" title="variables selected from FMU to be outputed"><b>OUTPUT vars</b></td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">
        <td colspan="3"><referencearray value.two-way="outputreferences"></referencearray></td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">
        <td colspan="2" class="w3-center" title="variables selected from FMU to be input, thus listening for values"><b>INPUT vars</b></td>
      </tr>
      <tr show.bind="showfmiinput" class="w3-tiny">

        <td colspan="3"><referencearray value.two-way="inputreferences" askids="true"></referencearray></td>
      </tr>
    </table>
    <div class="w3-center w3-padding">
      <button class="w3-button w3-theme-l4" click.delegate="cancel()">Cancel</button>
      <button class="w3-button w3-theme-l4" click.delegate="submit()">Submit <i class="fa fa-arrow-right"></i></button>
    </div>
</template>
