<template>
  <button class="w3-button w3-theme-l4" click.delegate="newSinglePageProject()"><i class="fa fa-plus"> single page app</i></button>
  <button class="w3-button w3-theme-l4" click.delegate="newMultiPageProject()"><i class="fa fa-plus"> multi page app</i></button><br/>
  <button class="w3-button w3-theme-l4" click.delegate="saveAsBjp()"><i class="fa fa-save"> save as BJP</i></button>
  <button class="w3-button w3-theme-l4" click.delegate="loadFromBjp()"><i class="fa fa-upload"> load from BJP</i></button><br/>
  <button class="w3-button w3-theme-l4" click.delegate="exportAsZip()"><i class="fa fa-download"> export as ZIP</i></button>
  <button class="w3-button w3-theme-l4" click.delegate="exportAsHtml()"><i class="fa fa-download"> export as single HTML</i></button>
</template>
