<template>
<require from="./file-dialog"></require>
  <require from="./project.css"></require>
  <div class="w3-panel">
  <button class="w3-left w3-button w3-bar-item w3-theme-l4" click.delegate="toggleMenu()"><i class="fa fa-bars"></i> Project menu</button>
  <div show.bind="showButtons" class="w3-card au-animate animate-fade-in animate-fade-out w3-bar-block" style="position:absolute;margin-top:2em;margin-left:2em">
    <button class="w3-button w3-bar-item w3-theme-l4" click.delegate="newSinglePageProject()"><i class="fa fa-plus"> New project</i></button>
    <button class="w3-button w3-bar-item w3-theme-l4" click.delegate="save()"><i class="fa fa-save"> Save project as ZIP</i></button>
    <button class="w3-button w3-bar-item w3-theme-l4" click.delegate="load()"><i class="fa fa-upload"> Load project from ZIP</i></button>
    <button class="w3-button w3-bar-item w3-theme-l4 w3-border-bottom" click.delegate="exportAsHtml()"><i class="fa fa-download"> Export project as HTML</i></button>
    <button class="w3-button w3-bar-item w3-theme-l4" click.delegate="saveMD()"><i class="fa fa-download"> Save doc as MD</i></button>
    <button class="w3-button w3-bar-item w3-theme-l4" click.delegate="loadMD()"><i class="fa fa-upload"> Load doc from MD</i></button>
  </div>
  </div>

  <div class="w3-margin w3-card-2">

<table>
  <thead>
  <tr><th colspan="2">Project file structure</th></tr>
  </thead>
  <tbody>
  <tr repeat.for="file of files" class.bind="file.active ? 'w3-blue w3-hover-grey': 'w3-hover-blue'">
    <td title="${file.type.title}"><span click.delegate="open(file)"><i class="${file.type.faclass}"></i> ${file.name}</span></td>
    <td title="delete file"><i class="fa fa-times" click.delegate="delete(file)"></i> </td>
  </tr>
  <tr><td colspan="2">  <span class="w3-padding-4 w3-theme-l3 w3-border w3-round w3-hover-blue" click.delegate="create()"><i class="fa fa-plus"></i> Create new file</span>
    <span class="w3-padding-4 w3-theme-l3 w3-border w3-round w3-hover-blue" click.delegate="upload()"><i class="fa fa-plus"></i> Upload file</span>
    <div show.bind="uploaddialog"

         dragenter.delegate="drag($event)"
         dragover.delegate="drag($event)"
         drop.delegate="drop($event)"
         style="position:absolute;z-index:5;border:4px dashed #aaa;;margin-top:-4px;margin-left:8px"
         class.bind="isDragging ? 'w3-padding w3-round-large w3-blue w3-card-24':'w3-padding w3-round-large w3-white w3-card-24'">
      <p>Drag your files here or click on this area</p>
      <input type="file" change.trigger="dragNdrop($event)"/>
    </div>

  </td>
  </tr>
  </tbody>
</table>
    <file-dialog></file-dialog>
  </div>
</template>
