<template>
  <require from="./autocomplete/good-auto-complete"></require>
  <require from="./autocomplete/good-auto-complete.css"></require>
  <div class="w3-border w3-border-theme w3-margin-top w3-margin-bottom">
  <table>
    <tr repeat.for="item of value">
      <td>${item.reference}</td><td>${item.name}</td><td> <span class="w3-hover-blue" click.delegate="removeReference(item)"><i class="fa fa-trash"></i></span></td>
    </tr>
  </table>
  <div><i>Select variables of model that will be used for visualisation.</i></div>
  <good-auto-complete view-model.ref="goodautocomplete"
                      additional-class-input="form-control"
                      selected-item.bind="valuereference"
                      _value.bind="valuereferenceraw"
                      suggestions-provider.bind="getSuggestions"
                      suggestions-debounce="1000"
                      min-search-value-length="1"
                      placeholder="Type-in to select a variable for reference.">
  </good-auto-complete>
  <div show.bind="askids">
    <table>
      <th>id</th><th>numerator</th><th>denominator</th>
      <tr><td><input value.bind="inputid" size="5"/></td><td><input value.bind="numerator" type="number" size="6"/></td><td><input value.bind="denominator" type="number" size="6"/></td></tr>
    </table>
  </div>
  <button class="w3-button w3-theme-l4" click.delegate="addReference()"><i class="fa fa-plus"></i> Add</button>
  </div>
</template>
