<template>
  <require from="./animations.css"></require>

      <div class="w3-border w3-theme-l5 w3-block">
        <span class="w3-small"><pre style="display:inline" title="basic bodylight components">basic:   </pre></span>
        <span repeat.for="item of basicitems" class="w3-padding-4 w3-theme-l1" style="margin-right:4px">
          <span class="w3-hover-blue" click.delegate="addItem(item)" title="add item into edited text">${item.name}</span>
          <span class="w3-hover-blue" click.delegate="showHelp(item)" title="show help"><i class="fa fa-question-circle"></i></span>
        </span><br/>
        <span class="w3-small"><pre style="display:inline" title="advanced bodylight components">advanced:</pre></span>
        <span repeat.for="item of advanceditems" class="w3-padding-4 w3-theme-l1" style="margin-right:4px">
          <span class="w3-hover-blue" click.delegate="addItem(item)" title="add item into edited text">${item.name}</span>
          <span class="w3-hover-blue" click.delegate="showHelp(item)" title="show help"><i class="fa fa-question-circle"></i></span>
        </span><br/>
        <span class="w3-small"><pre style="display:inline" titke="basic editor tools">editor:  </pre></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="undo()" title="undo"><i class="fa fa-undo"></i></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="redo()" title="redo"><i class="fa fa-repeat"></i></span>
        <span class="w3-border-right" style="margin-left:4px;margin-right:4px"></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="bold()" title="bold"><i class="fa fa-bold"></i></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="italic()" title="italic"><i class="fa fa-italic"></i></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="underline()" title="underline"><i class="fa fa-underline"></i></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="h1()" title="header 1" class="w3-large">H1</span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="h2()" title="header 2" class="w3-medium">H2</span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="h3()" title="header 3" class="w3-small">H3</span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="h4()" title="header 4" class="w3-tiny">H4</span>
        <span class="w3-border-right" style="margin-left:4px;margin-right:4px"></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="code()" title="programming code"><i class="fa fa-code"></i></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="equation()" title="equation"><i class="fa fa-superscript"></i></span>
        <span class="w3-border-right" style="margin-left:4px;margin-right:4px"></span>
        <!--span class="w3-theme-l2" click.delegate="save()" title="save file"><i class="fa fa-save"></i></span-->
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="download()" title="download file"><i class="fa fa-download"></i></span>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="upload()" title="upload file"><i class="fa fa-upload"></i></span>
        <div show.bind="uploaddialog"

             dragenter.delegate="drag($event)"
             dragover.delegate="drag($event)"
             drop.delegate="drop($event)"
             style="position:absolute;z-index:5;border:4px dashed #aaa;;margin-top:-4px;margin-left:8px"
             class.bind="isDragging ? 'w3-padding w3-round-large w3-blue w3-card-24':'w3-padding w3-round-large w3-white w3-card-24'">
          <p>Drag your files here or click on this area</p>
          <input type="file" change.trigger="dragNdrop($event)"/>
        </div>
        <span class="w3-padding-4 w3-hover-blue"  click.delegate="preview()" title="preview"><i class="fa fa-eye"></i></span
      </div>


</template>
